<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="full-hero hero-home">
      <h1>I'm an h1</h1>
      <ul class="social-list">
        <li>
          <a href="https://example.com/" class="social-link">Fb</a>
        </li>
        <li>
          <a href="https://example.com/" class="social-link">Twit</a>
        </li>
        <li>
          <a href="https://example.com/" class="social-link">GH</a>
        </li>
      </ul>
    </div>
    <h2>I'm an h2</h2>
    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400" alt="kitten">
        <h3>the name</h3>
        <a href="https://example.com/" class="social-link">Tw</a>
        <div class = "bio-copy">
          <p>
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjg
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
            akjhfkdhjkfdgfdkgjafdkhgfdjkghafdkjga
          </p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400" alt="kitten">
        <h3>the name2</h3>
        <a href="https://example.com/" class="social-link">Tw</a>
        <div class = "bio-copy">
          <p>dkfajhrkg</p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400" alt="kitten">
        <h3>the name3</h3>
        <a href="https://example.com/" class="social-link">Tw</a>
        <div class = "bio-copy">
          <p>sajkrgrgrignbhirhgi</p>
        </div>
      </div>
      <div class="bio-box">
        <img src="http://placekitten.com/g/400/400" alt="kitten">
        <h3>the name4</h3>
        <a href="https://example.com/" class="social-link">Tw</a>
        <div class = "bio-copy">
          <p>adsm,nsdmg,ngrejbgerjb</p>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>
